.selected-plan-container{
    display: flex;
    flex-direction: column;
}

.items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

